#main{
    font-family:fantasy;
    text-align: center;
}

#descript{
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;
}

#signup{
margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

